<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <h4>Books Saved:<%= books.length %></h4>
      <ul id="book-list">
        <% books.forEach(book => {%>
        <li class="book-items" data-book-id="<%=
        book.id %>">
        <%- include('books/detail', {book: book}) %>
        <p class="detail-button"><a href="/books/<%=
        book.id %>">View Details</a></p>
        </li>
        <% }) %>
      </ul>
     
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>